In [27]:
import pandas as pd
import numpy as np

In [28]:
books = pd.read_csv('data/Books.csv',  encoding='cp1251', sep=',',on_bad_lines='skip')
books.head()

/tmp/ipykernel_6758/2905969466.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('data/Books.csv',  encoding='cp1251', sep=',',on_bad_lines='skip')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [29]:
long_authors = books[books['Book-Author'].str.len() > 80]
long_authors

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
42804,0723215316,The Observer's Book of Garden Flowers (Warne O...,Based on the Larger Work'the Book of Garden Fl...,1985,Penguin Books Ltd,http://images.amazon.com/images/P/0723215316.0...,http://images.amazon.com/images/P/0723215316.0...,http://images.amazon.com/images/P/0723215316.0...
175646,1885478690,"Skyscrapers, Taxis &amp; Tampons","Staceyann Chin, Dot Antoniades, Aileen Reyes, ...",1999,Fly by Night Pr,http://images.amazon.com/images/P/1885478690.0...,http://images.amazon.com/images/P/1885478690.0...,http://images.amazon.com/images/P/1885478690.0...
216101,0663461715,"A New Day (World of Reading Workbook, A New Day)","Dale D. Johnson, Theodore Clymer, Roselmina In...",1989,"Silver, Burdett &amp; Ginn, Inc.",http://images.amazon.com/images/P/0663461715.0...,http://images.amazon.com/images/P/0663461715.0...,http://images.amazon.com/images/P/0663461715.0...

In [30]:
books.dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

In [31]:
# lowercase = books.apply(lambda x: x.str.lower() if x.dtype == 'object' else x)
lowercase = books.apply(
    lambda x: x.str.lower() if x.dtype == 'object' and all(isinstance(val, str) for val in x.dropna()) else x
    )
lowercase.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,classical mythology,mark p. o. morford,2002,oxford university press,http://images.amazon.com/images/p/0195153448.0...,http://images.amazon.com/images/p/0195153448.0...,http://images.amazon.com/images/p/0195153448.0...
1,0002005018,clara callan,richard bruce wright,2001,harperflamingo canada,http://images.amazon.com/images/p/0002005018.0...,http://images.amazon.com/images/p/0002005018.0...,http://images.amazon.com/images/p/0002005018.0...
2,0060973129,decision in normandy,carlo d'este,1991,harperperennial,http://images.amazon.com/images/p/0060973129.0...,http://images.amazon.com/images/p/0060973129.0...,http://images.amazon.com/images/p/0060973129.0...
3,0374157065,flu: the story of the great influenza pandemic...,gina bari kolata,1999,farrar straus giroux,http://images.amazon.com/images/p/0374157065.0...,http://images.amazon.com/images/p/0374157065.0...,http://images.amazon.com/images/p/0374157065.0...
4,0393045218,the mummies of urumchi,e. j. w. barber,1999,w. w. norton &amp; company,http://images.amazon.com/images/p/0393045218.0...,http://images.amazon.com/images/p/0393045218.0...,http://images.amazon.com/images/p/0393045218.0...

In [32]:
ratings = pd.read_csv('data/BX-Book-Ratings.csv',  encoding='cp1251', sep=';',on_bad_lines='skip')
dataset = pd.merge(ratings, lowercase, on=['ISBN'])
dataset.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276726,0155061224,5,rites of passage,judith rae,2001,heinle,http://images.amazon.com/images/p/0155061224.0...,http://images.amazon.com/images/p/0155061224.0...,http://images.amazon.com/images/p/0155061224.0...
1,276727,0446520802,0,the notebook,nicholas sparks,1996,warner books,http://images.amazon.com/images/p/0446520802.0...,http://images.amazon.com/images/p/0446520802.0...,http://images.amazon.com/images/p/0446520802.0...
2,276729,0521795028,6,the amsterdam connection : level 4 (cambridge ...,sue leather,2001,cambridge university press,http://images.amazon.com/images/p/0521795028.0...,http://images.amazon.com/images/p/0521795028.0...,http://images.amazon.com/images/p/0521795028.0...
3,276733,2080674722,0,les particules elementaires,michel houellebecq,1998,flammarion,http://images.amazon.com/images/p/2080674722.0...,http://images.amazon.com/images/p/2080674722.0...,http://images.amazon.com/images/p/2080674722.0...
4,276746,0425115801,0,lightning,dean r. koontz,1996,berkley publishing group,http://images.amazon.com/images/p/0425115801.0...,http://images.amazon.com/images/p/0425115801.0...,http://images.amazon.com/images/p/0425115801.0...

In [33]:
tolkien_readers = dataset['User-ID'][(dataset['Book-Title']=='the fellowship of the ring (the lord of the rings, part 1)') & (dataset['Book-Author'].str.contains("tolkien"))]
tolkien_readers = tolkien_readers.tolist()
tolkien_readers = np.unique(tolkien_readers)

# final dataset
books_of_tolkien_readers = dataset[(dataset['User-ID'].isin(tolkien_readers))]
books_of_tolkien_readers.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
3331,278246,0618129030,8,the fellowship of the ring (the lord of the ri...,j. r. r. tolkien,2001,houghton mifflin company,http://images.amazon.com/images/p/0618129030.0...,http://images.amazon.com/images/p/0618129030.0...,http://images.amazon.com/images/p/0618129030.0...
7302,278550,0028630343,7,"frommer's 2000 bahamas (frommer's bahamas, 2000)",arthur frommer,1999,"hungry minds, inc",http://images.amazon.com/images/p/0028630343.0...,http://images.amazon.com/images/p/0028630343.0...,http://images.amazon.com/images/p/0028630343.0...
7303,278550,0345339703,10,the fellowship of the ring (the lord of the ri...,j.r.r. tolkien,1986,del rey,http://images.amazon.com/images/p/0345339703.0...,http://images.amazon.com/images/p/0345339703.0...,http://images.amazon.com/images/p/0345339703.0...
7304,278550,0673397394,8,study and thinking skills in college,kathleen t mcwhorter,1988,"scott, foresman",http://images.amazon.com/images/p/0673397394.0...,http://images.amazon.com/images/p/0673397394.0...,http://images.amazon.com/images/p/0673397394.0...
8021,254,0060013117,0,night watch,terry pratchett,2002,harpercollins,http://images.amazon.com/images/p/0060013117.0...,http://images.amazon.com/images/p/0060013117.0...,http://images.amazon.com/images/p/0060013117.0...

In [34]:
number_of_rating_per_book = books_of_tolkien_readers.groupby(['Book-Title']).agg('count').reset_index()
number_of_rating_per_book.head()

,Book-Title,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,a light in the storm: the civil war diary of ...,1,1,1,1,1,1,1,1,1
1,clifford visita el hospital (clifford el gran...,1,1,1,1,1,1,1,1,1
2,la gallinita roja/the little red hen,2,2,2,2,2,2,2,2,2
3,murder of a sleeping beauty (scumble river my...,1,1,1,1,1,1,1,1,1
4,nonbook materials: the organization of integr...,1,1,1,1,1,1,1,1,1

In [35]:
books_to_compare = number_of_rating_per_book['Book-Title'][number_of_rating_per_book['User-ID'] >= 8]
books_to_compare = books_to_compare.tolist()
ratings_data_raw = books_of_tolkien_readers[['User-ID', 'Book-Rating', 'Book-Title']][books_of_tolkien_readers['Book-Title'].isin(books_to_compare)]
ratings_data_raw.head()

      User-ID  Book-Rating                                         Book-Title
3331   278246            8  the fellowship of the ring (the lord of the ri...
7303   278550           10  the fellowship of the ring (the lord of the ri...
8027      254            0                      the poisonwood bible: a novel
8029      254            0                                           stardust
8031      254            0         equal rites (discworld novels (paperback))

In [36]:
ratings_data_raw_nodup = ratings_data_raw.groupby(['User-ID', 'Book-Title'])['Book-Rating'].mean()
ratings_data_raw_nodup = ratings_data_raw_nodup.to_frame().reset_index()
ratings_data_raw_nodup

       User-ID                                         Book-Title  Book-Rating
0          254                                               1984          9.0
1          254                                 a bend in the road          0.0
2          254                                        about a boy          0.0
3          254                                      american gods         10.0
4          254                                     angela's ashes          0.0
...        ...                                                ...          ...
14766   276463                                     the wicked day          0.0
14767   276463  the wide window (a series of unfortunate event...          9.0
14768   276463                                   tuck everlasting          9.0
14769   278246  the fellowship of the ring (the lord of the ri...          8.0
14770   278550  the fellowship of the ring (the lord of the ri...         10.0

[14771 rows x 3 columns]

In [37]:
dataset_for_corr = ratings_data_raw_nodup.pivot(index='User-ID', columns='Book-Title', values='Book-Rating')
dataset_for_corr.head()

Book-Title,1984,1st to die: a novel,2010: odyssey two,2nd chance,3001: the final odyssey,"\o\"" is for outlaw""",a beautiful mind: the life of mathematical genius and nobel laureate john nash,a bend in the road,a case of need,"a child called \it\"": one child's courage to survive""",...,"wizard and glass (the dark tower, book 4)","wizard's first rule (sword of truth, book 1)",women who run with the wolves,"word freak: heartbreak, triumph, genius, and obsession in the world of competitive scrabble players",writ of execution,wuthering heights,wyrms,you belong to me,zen and the art of motorcycle maintenance: an inquiry into values,zoya
User-ID,,,,,,,,,,,,,,,,,,,,,
254,9.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
1903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN